 {:cols  [:kw :name :0607 :0708 :0809 :0910 :1011 :1112 :1213 :1314 :1415 :1516 :1617]
  :rows  [[:ARS "Arsenal"                   4   3   4   3   4   3   4   4   3   2   5]
          [:AVA "Aston Villa"              11   6   6   6   9  16  15  15  17  20  33]
          [:BBR "Blackburn"                10   7  15  10  15  19  37  28  29  35  42]
          [:BOU "Bournemouth"             nil nil nil nil nil nil nil  30  21  16   9]
          [:BRC "Birmingham City"          22  19  22   9  18  24  32  41  30  30  39]
          [:BRI "Brighton & Hove Albion"  nil nil nil nil nil  30  24  26  40  23  22]
          [:BUR "Burnley"                  35  33  25  18  28  33  31  22  19  21  16]
          [:CDF "Cardiff City"             33  32  27  24  24  26  21  20  31  28  32]
          [:CHE "Chelsea"                   2   2   3   1   2   6   3   3   1  10   1]
          [:CRY "Crystal Palace"           32  25  35  41  40  37  25  11  10  15  14]
          [:DRB "Derby County"             23  20  38  34  39  32  30  23  28  25  29]
          [:EVE "Everton"                   6   5   5   8   7   7   6   5  11  11   7]
          [:FUL "Fulham"                   16  17   7  12   8   9  12  19  37  40  26]
          [:HUD "Huddersfield Town"       nil nil nil nil nil nil  39  37  36  39  25]
          [:HUL "Hull City"                41  23  17  19  31  28  22  16  18  24  18]
          [:LEI "Leicester City"           39  42 nil  25  30  29  26  21  14   1  12]
          [:LIV "Liverpool"                 3   4   2   7   6   8   7   2   6   8   4]
          [:MCI "Manchester City"          14   9  10   5   3   1   2   1   2   4   3]
          [:MID "Middlesbrough"            12  13  19  31  32  27  36  32  24  22  19]
          [:MUN "Manchester United"         1   1   1   2   1   2   1   7   4   5   6]
          [:NEW "Newcastle United"         13  12  18  21  12   5  16  10  15  18  21]
          [:NOR "Norwich City"             36  37  42 nil  22  12  11  18  23  19  28]
          [:QPR "Queens Park Rangers"      38  34  31  33  21  17  20  24  20  32  38]
          [:RDG "Reading"                   8  18  24  29  25  21  19  27  39  37  23]
          [:SHU "Sheffield United"         18  29  23  28  43 nil  38  36  33  26  24]
          [:SOU "Southampton"              26  40  43 nil nil  22  14   8   7   6   8]
          [:STK "Stoke City"               28  22  12  11  13  14  13   9   9   9  13]
          [:SUN "Sunderland"               21  15  16  13  10  13  17  14  16  17  20]
          [:SWA "Swansea City"            nil nil  28  27  23  11   9  12   8  12  15]
          [:TOT "Tottenham Hotspur"         5  11   8   4   5   4   5   6   5   3   2]
          [:WAT "Watford"                  20  26  33  36  34  31  23  33  22  13  17]
          [:WBA "West Bromwich Albion"     24  21  20  22  11  10   8  17  13  14  10]
          [:WHU "West Ham United"          15  10   9  17  20  23  10  13  12   7  11]
          [:WIG "Wigan Athletic"           17  14  11  16  16  15  18  25  43 nil  43]
          [:WLV "Wolverhampton Wanderers"  25  27  21  15  17  20  43 nil  27  34  35]]
   :teams [:BRI :BOU :HUD :MUN :CHE :LIV :ARS :TOT :EVE :NEW
           :MCI :WHU :WAT :STK :WBA :BUR :SWA :SOU :CRY :LEI]}
