 {:cols  [:kw :name :0607 :0708 :0809 :0910 :1011 :1112 :1213 :1314 :1415 :1516 :1617]
  :rows  [[:AUG "FC Augsburg"           25  32  29  21  20  14  15   8   5  12  13]
          [:BAY "FC Bayern München"      4   1   2   1   3   2   1   1   1   1   1]
          [:BER "Hertha BSC"            10  10   4  18  19  16  19  11  15   7   6]
          [:DAR "SV Darmstadt 98"      nil nil nil nil nil nil nil nil  20  14  18]
          [:DOR "Borussia Dortmund"      9  13   6   5   1   1   2   2   7   2   3]
          [:FRE "SC Freiburg"           22  23  19  14   9  12   5  14  17  19   7]
          [:HAN "Hannover 96"           11   8  11  15   4   7   9  10  13  18  20]
          [:HSV "Hamburger SV"           7   4   5   7   8  15   7  16  16  10  14]
          [:ING "FC Ingolstadt 04"     nil nil  35 nil  32  30  31  28  19  11  17]
          [:KOE "1. FC Köln"            27  21  12  13  10  17  23  19  12   9   5]
          [:LEP "RB Leipzig"           nil nil nil nil nil nil nil nil  23  20   2]
          [:LEV "Bayer Leverkusen"       5   7   9   4   2   5   3   4   4   3  12]
          [:MAI "1. FSV Mainz 05"       16  22  20   9   5  13  13   7  11   6  15]
          [:MON "Bor. Mönchengladbach"  18  19  15  12  16   4   8   6   3   4   9]
          [:NUR "1. FC Nürnberg"         6  16  21  16   6  10  10  17  27  21  30]
          [:SCH "FC Schalke 04"          2   3   8   2  14   3   4   3   6   5  10]
          [:SGE "Eintracht Frankfurt"   14   9  13  10  17  20   6  13   9  16  11]
          [:STU "VfB Stuttgart"          1   6   3   6  12   6  12  15  14  17  19]
          [:TSG "TSG 1899 Hoffenheim"  nil nil   7  11  11  11  16   9   8  15   4]
          [:WER "Werder Bremen"          3   2  10   3  13   9  14  12  10  13   8]
          [:WOL "VfL Wolfsburg"         15   5   1   8  15   8  11   5   2   8  16]]
   :teams [:AUG :BAY :BER :DOR :FRE :HAN :HSV :KOE :LEP :LEV
           :MAI :MON :SCH :SGE :STU :TSG :WER :WOL]}
