 {:cols  [:kw :name :0607 :0708 :0809 :0910 :1011 :1112 :1213 :1314 :1415 :1516 :1617]
  :rows  [[:A29 "Achilles '29"    nil nil nil nil nil nil nil  38  36  33  38]
          [:ADO "ADO Den Haag"     18  24  14  15   7  15   9   9  13  11  11]
          [:AJA "Ajax"              2   2   3   2   1   1   1   1   2   2   2]
          [:ALC "Almere City FC"   34  31  38  32  36  31  31  36  28  26  26]
          [:AZA "AZ"                3  11   1   5   4   4  10   8   3   4   6]
          [:BOS "FC Den Bosch"     23  21  27  25  26  24  29  22  34  35  32]
          [:CAM "SC Cambuur"       30  35  21  20  23  25  19  12  12  18  21]
          [:DOR "FC Dordrecht"     24  30  26  31  29  28  27  20  18  32  37]
          [:EHV "FC Eindhoven"     37  37  36  30  30  21  34  24  20  22  29]
          [:EMM "FC Emmen"         29  27  31  33  31  36  30  30  22  25  27]
          [:EXC "Excelsior"        16  18  23  21  16  18  33  21  15  15  12]
          [:FEY "Feyenoord"         7   6   7   4  10   2   3   2   4   3   1]
          [:GAE "Go Ahead Eagles"  25  28  25  23  25  27  24  13  17  23  18]
          [:GRA "De Graafschap"    19  16  17  19  14  17  26  25  24  17  30]
          [:GRO "FC Groningen"      8   7   6   8   5  14   7   7   8   7   8]
          [:HEA "Heracles Almelo"  14  14  15   6   8  12  12  14  14   6  10]
          [:HEE "SC Heerenveen"     5   5   5  11  12   5   8   5   7  12   9]
          [:HEL "Helmond Sport"    36  25  28  26  21  22  22  31  35  31  31]
          [:JAJ "Jong Ajax"       nil nil nil nil nil nil nil  32  30  27  20]
          [:JPS "Jong PSV"        nil nil nil nil nil nil nil  28  32  29  22]
          [:MVV "MVV"              31  23  24  28  28  26  23  29  29  28  25]
          [:NAC "NAC Breda"        11   3   8  10  13  13  13  15  16  21  23]
          [:NEC "NEC"              10   8  11  13  11   8  15  17  19  10  16]
          [:OSS "FC Oss"           35  26  32  37 nil  32  28  37  27  37  33]
          [:PEC "PEC Zwolle"       27  22  22  22  20  19  11  11   6   8  14]
          [:PSV "PSV"               1   1   4   3   3   3   2   4   1   1   3]
          [:RKC "RKC Waalwijk"     17  20  20  18  19   9  14  16  38  36  28]
          [:ROD "Roda JC"           6   9  16   9   6  10  16  18  21  14  17]
          [:SIT "Fortuna Sittard"  33  34  33  35  34  29  25  26  37  34  35]
          [:SPR "Sparta"           13  13  13  16  27  20  21  34  26  19  15]
          [:TEL "Telstar"          28  32  35  36  32  33  32  33  33  30  34]
          [:TWE "FC Twente"         4   4   2   1   2   6   6   3  10  13   7]
          [:UTR "FC Utrecht"        9  10   9   7   9  11   5  10  11   5   4]
          [:WIL "Willem II"        15  15  12  17  18  23  18  19   9  16  13]
          [:VIT "Vitesse"          12  12  10  14  15   7   4   6   5   9   5]
          [:VOL "FC Volendam"      22  19  18  34  24  30  20  27  23  24  24]
          [:VVV "VVV-Venlo"        20  17  19  12  17  16  17  23  25  20  19]]
   :teams [:ADO :AJA :AZA :EXC :FEY :GRO :HEA :HEE :NAC :PEC :PSV :ROD :SPR
           :TWE :UTR :WIL :VIT :VVV]}
